HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

/educacao/educacao.iml
/educacao/HELP.md
/educacao/mvnw
/educacao/mvnw.cmd

educacenso.iml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr